.wholepage {
    position: absolute; 
    width: 100%;
    height: 100%;
}

.DivLeft {
    position: absolute;
    left: 50%;
}
.DivRight {
    position: absolute;
    Right: 50%;
}
  

.wholepage {
    position: absolute; 
    width: 100%;
    height: 100%;
  }
  
  .DivLeft {
    position: absolute;
    left: 50%;
  }
  .DivRight {
    position: absolute;
    right: 50%;
  }
  
  form {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: auto; /* középre igazítás */
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
  }
  
  form input[type="password"] {
    width: calc(100% - 16px); /* Mielőtt a teljes szélességet számolnánk, vonjuk ki a paddinget (20px * 2) és a border vastagságát (1px * 2) */
    padding: 8px;
    margin-bottom: 10px;
  }
  
  form button {
    width: calc(100% - 22px); /* Mielőtt a teljes szélességet számolnánk, vonjuk ki a paddinget (20px * 2) és a border vastagságát (1px * 2) */
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #0056b3;
  }
  
  .error-message {
    color: red;
    margin-top: 5px;
  }
  
  