.multiple-choice-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  position: relative;
}

.question {
  flex-grow: 1;
  margin-bottom: 10px;
}

.answer-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.answer-buttons button {
  margin-left: 5px;
  text-align: center;
  margin-bottom: 5px;
}

.save-button {
  position: absolute;
  right: 5px;
  bottom: 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #6bf178;
}

.answer-container {
  margin-bottom: 10px; /* Példaként hozzáadott margin a válaszlehetőségek közötti távolsághoz */
}

.remove-answer-button {
  background-color: #ff7f7f;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px; /* Példaként hozzáadott margin a gombok alatti távolsághoz */
}
.selected {
  background-color: #007bff;
  color: white;
}

.remove-question-button-multiple{
background-color: #ff7f7f;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 5px;
}