.MultipleWriter-Container {
  font-family: Arial, sans-serif;
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.Label-MultipleWriter-Question {
  font-weight: bold;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  display: inline-block;
}

.MultipleWriter-Task-serial-number {
  display: inline-block;
  margin-right: 5px;
}

.MultipleWriter-Question {
  display: inline-block;
}

.MultipleWriter-Answer-Container {
  margin-top: 10px;
}

.Label-MultipleWriter-Answer {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  display: block;
}

.Input-MultipleWriter-Answer {
  margin-left: 5px;
}
