.OneAnswers-Container {
  position: relative;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

.Label-OneAnswer-Question {
  display: block;
  margin-bottom: 10px;
}

.OneAnswer-Task-Serial-Number {
  font-weight: bold;
}

.Input-Question-OneAnswer,
.Input-OneAnswer-Answers {
  width: calc(100% - 65px);
  padding: 12.45px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.Options-OneAnswer {
  position: relative;
}

.Input-OneAnswer-CorrectAnswers {
  position: relative;
  margin-left: 12px;
  transform: scale(2);
  border-radius: 5px;
  border: 1px solid #ccc;
  bottom: -2.5px;
}

.Save-Button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #28a745;
  color: #fff;
  cursor: pointer;
}

.Remove-Button-OneAnswer {
  position: absolute;
  top: 3%;
  right: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #f44336;
  color: #fff;
  cursor: pointer;
}
