.one-answers-container {
    margin-top: 20px;
  }
  
  .question {
    margin-bottom: 20px;
  }
  
  .question input[type="text"] {
    margin-right: 10px;
  }
  
  .radio-group {
    margin-top: 10px;
  }
  
  .radio-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .add-question-button-one{
    margin-top: 10px;
  }
  
  .save-button2 {
    position: absolute;
    right: 5px;
    bottom: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #6bf178;
  }