.one-answers-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center; /* Center horizontally */
  border: 2px solid #ccc;
  border-radius: 20px; /* Sarkok lekerekítése */
  padding: 20px;
  position: relative;
  width: 100%; /* Ensure the container takes up the entire width */
}

.option-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border: 2px solid #ccc;
  border-radius: 20px; /* Sarkok lekerekítése */
  padding: 10px;
  width: 100%;
}

.answerwriter {
  flex-grow: 1;
  width: 200px;
  overflow-wrap: break-word;
}

.options input[type="radio"] {
  margin-right: 10px; /* Add some space between the radio buttons and the answer text */
  width: 20px; /* Set the width of the radio buttons */
  height: 20px; /* Set the height of the radio buttons */
  border: 2px solid #ccc;
  border-radius: 50%; /* Kör alakú kerekítés */
}

.options label {
  margin-left: 5px;
  cursor: pointer; /* Mutató az opciókra */
}

.option-row div {
  flex-grow: 1; /* Hogy a rádiógombok és a szövegek egy sorban legyenek */
}

.option-row input[type="radio"] {
  transform: scale(1.5); /* Nagyítás a rádiógombokhoz */
}

.questiondiv {
  display: flex;
  align-items: center;
  border: 5px solid #ccc;
  border-radius: 20px; /* Sarkok lekerekítése */
  padding: 20px;
  width: 50%;
  justify-content: center; /* Center horizontally */
  margin: auto;
  font-weight: bold; /* Set the text to bold */
}

.radiowriter{
  margin-top: 5px;
  margin-right: 5px;
}
