.OneanswerWriter-container {
  position: relative;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

.Label-OneanswerWriter-Question {
  display: block;
  margin-bottom: 10px;
  
}

.OneanswerWriter-Task-serial-number {
  font-weight: bold;
}



.Input-OneanswerWriter-CorrectAnswer {
  position: relative;
  margin-left: 70%;
  transform: scale(2);
  border: 1px solid #ccc;
  bottom: -2.5px;
  margin-top: 1%;
  
}

.OneanswerWriter-Options {
  position: relative;
  
  
}

.OneanswerWriter-Answers {
  padding: 20px;
  margin-bottom: 10px;
  border: 1px solid darkgray;
  border-radius: 5cm;
  
  
}

.Label-OneanswerWriter-CorrectAnswer {
  position:absolute;
  right: 25px;
  
}

.OneanswerWriter-Question {
  border: 2px solid darkgray; /* increase border thickness */
  border-radius: 10px; /* increase border radius */
  font-weight: bold; /* make text bold */
  width: 70%; /* reduce the width of the div */
  margin: 20px auto; /* center-align the div and add some space around it */
  padding: 10px; /* add padding inside the div */
  background-color: #f0f0f0; /* add a light gray background color */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* add a subtle shadow */
  text-align: justify; /* justify the text */
  word-wrap: break-word; /* allow long words to break and wrap */
  position: left
  ;
}

